.loginImg{
    margin-top: 15%;
}
.loginFrm{
    margin-top: 10%;
}
.customMx{
    margin-left: 40%;
}
.imge{
    height: 200px;
    width: 200px;
    
}
.fstcom{
    margin-top: 145px;
    padding-bottom: 75px;
}